{% extends "base.html" %}
{% load widget_tweaks %}
{% block title_block %}
	Reset Password Confirm
{% endblock title_block %}
{% block content_wrapper %}
<div class="container min-height">
	<p>OTP has been sent to {{ cur_number }}</p>
	<p>Please use this OTP {{ otp }} to reset your password.</p>
		<div class="card card-2">
			<form method="post">
				{% csrf_token %}
				{% for field in form %}
					{% for error in field.errors %}
						<div class="alert alert-danger">
							<strong>{{ error|escape }}</strong>
						</div>
					{% endfor %}
					<div class="row form-group">
						<div class="col-sm-4">
							<label>OTP</label><br>
							{% if field.help_text %}
								<span class="form-text text-muted">{{ field.help_text }}</span>
							{% endif %}
						</div>
						<div class="col-sm-8">
							{% render_field field class="form-control" placeholder="OTP" %}
						</div>
					</div>
				{% endfor %}
				{% for error in form.non_field_errors %}
					<div class="alert alert-danger">
						<strong>{{ error|escape }}</strong>
					</div>
				{% endfor %}
				<input type="submit" value="Submit" class="btn btn-success" />
			</form>
</div>
</div>
{% endblock content_wrapper %}