
/* Body */

body {
	background: none !important;
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
	color: #222
}

h3 strong {
	color: #000 !important
}

p {
	font-family: Arial, Helvetica, sans-serif, Open Sans Condensed ;
}

a {
	color: #110088;
}

.tweet-meta a span {
	font-size: 1em;
}

.tw-name, .tw-meta {
	margin-bottom: 0
}

.tw-meta {
	font-size: .8em;
	font-weight: bold;
	letter-spacing: inherit
}

/* Lists */

ul {
	list-style: none;
}

/* Navbar */

.logo{
	height: 63px;
}

.myNavbar {
	border: none;
}

.navbar, .navbar-default {
	border: none;
	margin-bottom: 0;
	border-radius: 0;
	border-bottom: none;
	z-index: 900;
	padding: .5em;
	background-color: #222;
}

.navbar-default .navbar-collapse {
	border: none;
}

.nav {
	padding: 0.5em 0;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #eee;
}

/* Carousel */

.owl-stage {
	max-height: 80vh;
	overflow: hidden
}

/* Footer */

footer {
	background-image: none !important
}

footer .footer-legal a {
	margin: 0 0 0 1em
}



