{% extends "base.html" %}
{% load i18n %}
{% block title_block %}
    Notifications
{% endblock title_block %}
{% block content_wrapper %}
    <div class="container">
        <table class="table-striped table table-bordered table-hover">
            <h3 align="center">Notifications</h3>
            <thead>
                <tr>
                    <th>{% trans "Message" %}</th>
                    <th>{% trans "Store" %}</th>
                    <th>{% trans "Date" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for notice in notices %}
                    {% if notice.unread %}
                        <tr class="unread">
                        {% else %}
                            <tr>
                            {% endif %}
                            <td class="notice_message"><a href="{{ notice.data.url }}">{{ notice.verb|safe }}</a></td>
                            <td class="notice_time">{{ notice.actor }}</td>
                            <td class="notice_time">{{ notice.timestamp }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="/mark_read" class="btn btn-info">Mark all as read</a>
            {% include 'extra/pagination.html' with page_obj=notices %}
        </div>
    {% endblock %}