{% load staticfiles %}
{% load notifications_tags %}

<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url "index" %}"><img src="{% static "img/logo.png" %}" class="logo"></a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              
              {# User Navigation #}
              {% if user.is_active and user.is_authenticated and user.profile %}
                <li class="hidden-xs"><a href="{% url "bill_list" %}"><i class="fa fa-file-text" aria-hidden="true"></i> Bills</a></li>
                <li class="hidden-xs"><a href="{% url "statement" %}"><i class="fa fa-bar-chart" aria-hidden="true"></i>
                Statement</a></li>
                <li class="hidden-xs"><a href="{{ user.profile.get_absolute_url }}"><i class="fa fa-user-circle" aria-hidden="true"></i>
                Profile</a></li>
                <li class="hidden-xs"><a href="{% url "notify" %}"><i class="fa fa-bell" aria-hidden="true"></i>{% live_notify_badge classes="badge" %}</a></li>
              {% endif %}
              
              {# Store navigations #}
              {% if user.is_authenticated and user.store %}
                <li class="hidden-xs"><a href="{% url "qr_scanner" %}"><i class="fa fa-qrcode" aria-hidden="true"></i> Billing</a></li>
                <li class="hidden-xs"><a href="{% url "qr_scanner_return" %}"><i class="fa fa-exchange" aria-hidden="true"></i> Returns</a></li>
                <li class="hidden-xs"><a href="{% url "store:statement" %}"><i class="fa fa-bar-chart" aria-hidden="true"></i> Statement</a></li>
                <li class="hidden-xs"><a href="{{ user.store.get_absolute_url }}"><i class="fa fa-user-circle" aria-hidden="true"></i>
                Profile</a></li>
                {% if user.store.stand_alone %}
                  <li class="hidden-xs"><a href="{% url "store:product_list" %}"><i class="fa fa-truck" aria-hidden="true"></i> Inventory</a></li>
                {% endif %}
              {% endif %}
              
              {# Franchise Navigations #}
              {% if user.is_authenticated and user.franchise %}
                <li><a href="{% url "store:product_list" %}"><i class="fa fa-truck" aria-hidden="true"></i> Inventory</a></li>
              {% endif %}
                
                <li><a href="{% url "locator:locator" %}"><i class="fa fa-map-marker"></i></span> Find a Store</a></li>
                
                {% if not user.is_authenticated%}
                  <li><a href="{% url "registration_register" %}"><i class="fa fa-user-circle"></i> Login/Register</a></li>
                {% endif %}
                
              </ul>
            </div>
          </div>
        </nav>